<ul class="nav nav-tabs mb-0">
  <div *ngIf="isLoggedIn(); then loggedIn; else notLoggedIn"></div>
  <ng-template #loggedIn>
    <li class="nav-item">
      <a [routerLink]="['logout']" routerLinkActive="active" class="nav-link">Logout</a>
    </li>
  </ng-template>
  <ng-template #notLoggedIn>
    <li class="nav-item">
      <a [routerLink]="['login']" routerLinkActive="active" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['register']" routerLinkActive="active" class="nav-link">Register</a>
    </li>
  </ng-template>
</ul>
<div>
  <router-outlet></router-outlet>
</div>
